@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      font-family: 'Patrick Hand', cursive;
      background-image: url("memphispattern.png");
      background-color: skyblue;
      background-repeat: repeat;
      padding: 30px;
      overflow: hidden;
  }

  canvas {
      box-shadow: -3px 2px 9px 6px gray;
      cursor: pointer;
      background-color: white;
      border-radius: 10px
  }

  .tools {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 15px;
  }

  .tools .color-field {
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px;
      cursor: pointer;
      display:inline-block;
      border-radius: 50%;
      border: 5px solid white;
      align-self: center;
      margin: 0 10px;
  }

  .tools .button {
      font-family: 'Patrick Hand', cursive;
      align-self: center;
      width: 100px;
      height: 40px;
      border: 2px solid white;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      background: #222;
      font-weight: bold;
      margin: 0 10px;
  }

  .color-picker {
      align-self: center;
      margin: 0 10px;
      height: 50px;
      border-style: none;
      border-radius: 2px;
      cursor: pointer;
  }

.pen-range {
    align-self: center;
    margin: 0 10px;
    cursor: grabbing;
}



